@import './variables.scss';

* {
	margin: 0px;
	box-sizing: border-box;
}
body {
	font-family: $font-family_1;
	padding: 20px;
	background-color: $background-color_1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.container {
	max-width: 800px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		margin: 10px 0px;
		font-size: 16px;
		font-weight: 400;
	}
	p {
		width: 60%;
		font-size: 14px;
		margin: 0px 0px 20px 0px;
		color: $color_1;
		font-weight: 400;
	}
    span{
        display: inline-block;
    }
	img {
		border-radius: 50%;
		width: 96px;
		height: 96px;
		margin: 10px;
	}
	.button-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 5px 15px;
		a {
			font-family: $font-family_1;
			text-decoration: none;
			font-size: 14px;
			color: $color_2;
		}
	}
}
